# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore bin folder
bin

# Ignore obj folder
obj

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache